body{ 
    background-color: #5a5553;
}

.pokemonLogo {
    margin: auto;
    width: fit-content;
    display: flex;
    column-gap: 5px;
    position: sticky;
}
.pokemonLogo :hover{
    color: white
}
#pokeball{
    margin-top: 15px;
}

#pokeball img{
height: 60px;
width: 60px;
}

#logo{
    height: fit-content;
}

#logo p{
    font-size: 30px;

}

#searchBox{
    margin: auto;
    align-items: center;
    position: relative;
    display: flex;

}

.search{
    margin-left: -30%;
}

#pokemonName{
    justify-content: center;
    margin: auto;
    outline: none;
    width: 30%;
    font-size: 30px;
    border-radius: 12px;
    z-index: 1111;
    background: transparent;
    border: solid 2px white;
    transition: 0.1s ease;
}
#pokemonName:focus,
#pokemonName:hover{
    border: solid 3px black;
    color: black;
}
#pokemonName:focus + .labelLine,
#pokemonName:hover + .labelLine{
    transform: translate(-90%,-17px) scale(0.88);
    z-index: 1111;
    background-color: #5a5553;
    font-size: 12px;
    border-radius: 8px;
}

.labelLine{
    position: absolute;
    right: 47%;
    padding: 0 25px;
    margin: 0 25px; 
    font-size: 30px;
    transition: 0.2s ease;

}
.footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}
