body{ 
    background-color: #dbd6d4;
}

.pokemonLogo {
    margin: auto;
    width: fit-content;
    display: flex;
    column-gap: 5px;
    position: sticky;
}
.pokemonLogo :hover{
    color: white
}
#pokeball{
    margin-top: 15px;
}

#pokeball img{
height: 60px;
width: 60px;
}

#logo{
    height: fit-content;
}

#logo p{
    font-size: 30px;

}

#searchBox{
    margin: auto;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;

}

#search{
    padding: .5%;
    height: 100%;
    border-radius: 30px;
}

#pokemonName{
    outline: none;
    width: 30%;
    font-size: 30px;
    border-radius: 12px;
    z-index: 1111;
    background: transparent;
    border: solid 2px black;
    transition: 0.1s ease;
}
#pokemonName:focus,
#pokemonName:hover{
    border: solid 3px red;
    color: black;
}

/*'Animates' search pokemon text to move on top of search bar when focused*/
#pokemonName:focus + .labelLine,
#pokemonName:hover + .labelLine{
    transform: translate(-90%,-17px) scale(0.88);
    z-index: 1111;
    background-color: #dbd6d4;
    font-size: 12px;
    border-radius: 8px;
}

.labelLine{ /*Text saying "Search Pokemon*/
    position: absolute;
    padding: 0 25px;
    font-size: 30px;
    transition: 0.2s ease;
}

footer{
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
}

#pokemonGrid{ /* set the grid layout for the main menu pokiemon*/
    border: 1px solid green;
    margin: 2% auto;
    width: 97%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);

}

#pokemonGrid div{
    border: solid 1px black;
}

#pokemonGrid div:hover{
    cursor: pointer;
}

/* ------------Pokemon Card------------ */
.pokemonBox {
width: 350px;
position: absolute;
transform: translate(-50%, -50%);
top: 50%;
left: 50%;
z-index: 9998;
}
#card {
position: relative;
width: 100%;
padding: 30px 20px;
box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
border-radius: 10px;
}
#card img {
display: block;
width: 180px;
max-height: 200px;
position: relative;
margin: auto;
}
.hp {
width: 80px;
background-color: #ffffff;
text-align: center;
padding: 8px 0;
border-radius: 30px;
margin-left: auto;
font-weight: 400;
}
.poke-name {
text-align: center;
font-weight: 600;
}
.types {
display: flex;
justify-content: space-around;
margin: 20px 0 40px 0;
}
.hp span,
.types span {
font-size: 12px;
letter-spacing: 0.4px;
font-weight: 600;
}
.types span {
padding: 5px 20px;
border-radius: 20px;
color: #ffffff;
}
.stats {
display: flex;
align-items: center;
justify-content: space-between;
text-align: center;
}
.stats p {
color: #404060;
}

#exitBox{ /*Button used to close card */
    top: 5%;
    right: 33.5%;
    z-index: 99999;
    position: absolute;
    font-size: 30px;
    padding: 1px 4px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    display: none; /*remains hidden until pokemon is searched*/
}
/* ------------DONE Pokemon Card------------ */
