/* ------------Pokemon Card------------ */

.container {
    position: absolute;
    width: 500px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pokemonBox {
    width: 350px;
    margin: auto;
}

#card {
position: relative;
padding: 30px 20px;
box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
border-radius: 10px;
margin: auto;
}

#card img {
display: block;
width: 180px;
max-height: 200px;
position: relative;
margin: auto;
}

.hp {
width: 80px;
background-color: #ffffff;
text-align: center;
padding: 8px 0;
border-radius: 30px;
margin-left: auto;
font-weight: 400;
}

.poke-name {
text-align: center;
font-weight: 600;
}

.types {
display: flex;
justify-content: space-around;
margin: 20px 0 40px 0;
}

.hp span,
.types span {
font-size: 12px;
letter-spacing: 0.4px;
font-weight: 600;
}

.types span {
padding: 5px 20px;
border-radius: 20px;
color: #ffffff;
}

.stats {
display: flex;
align-items: center;
justify-content: space-between;
text-align: center;
}

.stats p {
color: #404060;
}

.pokemonDescription {
    width: 450px;
    height: 120px;
    position: relative;
    top: 20px;
    margin: auto;

    background-color: gainsboro;
    border: 3px solid black;
    border-radius: 10px;

    font-size: 22px;
    text-align: center;
    padding: 0% 5%;
}

#exitBox{ /*Button used to close card */
    right: 8%;
    z-index: 99999;
    position: absolute;
    font-size: 30px;
    padding: 1px 4px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    display: none; /*remains hidden until pokemon is searched*/
}
/* ------------DONE Pokemon Card------------ */


/* Previous button to switch pokemon info*/
#leftButton {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 30%;
    bottom: 58%;

}
#leftButton img{
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    
}

/* Next button to switch pokemon info*/
#rightButton{
    display: flex;
    right: 30%;
    bottom: 58%;
    position: absolute;
    width: 50px;
    height: 50px;
}

#rightButton img{
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}
